/* AddAttendance Styles */
.add-attendance-container {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .add-attendance-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .add-attendance-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .add-attendance-table th,
  .add-attendance-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .add-attendance-table th {
    background-color: #f0f0f0;
  }
  
  .add-attendance-table td {
    background-color: #fff;
  }
  
  .add-attendance-table td.students-column {
    text-align: left;
  }
  
  .add-attendance-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-attendance-button:hover {
    background-color: #45a049;
  }

  .already-marked-text {
    color: #888; 
    font-weight: bold; 
}

  